.matchCard{
    border-radius: 20px;
    animation: start_matchCard cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s alternate; 
  }  
  @keyframes start_matchCard {
    from {left: 100%;}
    to {left: 0%;}
  }
  .matchCard img {
      border-radius: 10px;
  }
  .matchCard button {
      border-radius: 15px;
  }
